.btn-danger {
  float: right;
}

.alert-box {
  position: fixed;
  top: 20vh;
  bottom: 20vh;
  width: 50vw;
  padding: 16px;
  z-index: 100;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}

.sender {
  margin-top: 20px;
  margin-bottom: 30px;
}

div.message {
  max-height: 400px;
  overflow: auto;
  padding-bottom: 50px;
}

.mobile {
  top: 10px;
  height: 95vh;
  width: 95vw;
}

.mobile {
  h3 {
    font-size: 0.9em !important;
  }
}
