.orders {
  margin-bottom: 150px;
}

.vl {
  border-left: 1px solid rgb(200, 200, 200);
  height: 200px;
  padding: 5px;
}

.order-card {
    margin-top: 10px;
    width: 700px !important;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
  }
  
  .card-top {
    display: inline-block;
    width: 100%;
  }
  
  .card-top h5 {
    display: inline-block;
  }
  
  .order-status {
    float: right;
  }

  .shipping {
    display: flex;
  }

  .actions {
    display: flex;
    button {
      margin: 5px;
    }
  }
  
  .delete-btn {
    float: right;
    margin-top: -20px;
  }

  @media (max-width: 750px) {
    .order-card {
      width: 500px !important;
    }
  }
  
  @media (max-width: 550px) {
    .order-card {
      width: 300px !important;
    }
  }
  
  @media (max-width: 323px) {
    .order-card {
      width: 250px !important;
    }
  }
  
  @media (max-width: 260px) {
    .order-card {
      width: 200px !important;
    }
  }