<div class="container" *ngIf="loading">
  <app-loading></app-loading>
</div>
<app-order
  *ngIf="showOrder"
  [order]="orderToShow"
  (close)="closeOrder()"
  (updated)="orderUpdated()"
></app-order>
<div *ngIf="deleteAlert">
  <app-delete-alert itemToDelete="message"></app-delete-alert>
</div>
<div class="container"*ngIf="orders.length == 0 && mobileOrders.length == 0" >
  <h1>No orders yet...</h1>
</div>
<!--Desktop version-->
<div class="container" *ngIf="!loading && orders.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Name</th>
        <th scope="col">Adress</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
        <th scpe="col">Open</th>
        <th scpe="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let order of orders; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <th scope="row" *ngIf="order.status == canceled" style="color: gray">
          <b>CANCELED</b>
        </th>
        <th scope="row" *ngIf="order.status == New" style="color: red">
          <b>NEW</b>
        </th>
        <th scope="row" *ngIf="order.status == processed" style="color: green">
          <b>PROCESSED</b>
        </th>
        <td>{{ order.adress.name }}</td>
        <td>{{ order.adress.adress | shorten: 30 }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.date | date }}</td>
        <td>
          <button (click)="openOrder(order)" class="mat-btn">
            <mat-icon>launch</mat-icon>
          </button>
        </td>
        <td>
          <button class="mat-btn" (click)="onDelete(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--Mobile version-->
<div *ngIf="mobile">
 <div class="orders" *ngFor="let order of mobileOrders; let i = index">
    <div class="order-card">
        <div class="card-top">
          <h5>{{ order.date | date }}</h5>
          <div class="order-status" *ngIf="order.status == canceled" style="color: gray">
            <b>CANCELED</b>
          </div>
          <div class="order-status" *ngIf="order.status == New" style="color: red">
            <b>NEW</b>
          </div>
          <div class="order-status" *ngIf="order.status == processed" style="color: green">
            <b>PROCESSED</b>
          </div>
          <div class="card-text">
            <div class="shipping">
              <div class="customer">
                <h5>Customer</h5><br>
                <h5>{{order.name}}</h5><br>
                <h5>Email</h5><br>
                <h5>{{order.adress.email}}</h5><br>
              </div> 
              <div class="vl"></div>
              <div class="adress">
                <h5>Street</h5><br>
                <h5>{{order.adress.adress}}</h5><br>
                <h5>City</h5><br>
                <h5>{{order.adress.city}}</h5><br>
                <h5>Zip code</h5><br>
                <h5>{{order.adress.zipCode}}</h5><br>
                <h5>State</h5><br>
                <h5>{{order.adress.state}}</h5>
              </div>
            </div>
            <hr>
            <h5>Products:</h5>
            <div *ngFor="let product of order.products">
              <p> {{product.quantity}} X {{product.product.title}}</p>
            </div>
            <hr>
            <p><b>Total <span style="color: red">{{ order.total }}</span>$</b></p>
        </div>
      </div>
      <hr>
      <br>
      <div class="actions">
        <button (click)="updateOrder('processed', order)" class="btn btn-success">
          Process
        </button>
        <button (click)="updateOrder('canceled', order)" class="btn btn-danger">
          Cancel
        </button>
        <button  class="mat-btn delete-btn" (click)="onDelete(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
  </div> 
</div> 


