<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="" ><b>{{name}}</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (click)="showCategories = !showCategories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Categories</b>
          </a>
          <div class="dropdown-menu "[class.show]="showCategories" aria-labelledby="navbarDropdown" *ngFor="let category of categories">
            <a class="dropdown-item" [routerLink]="['category',category.name]">{{category.name}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="../cart"><b>Cart</b></a> 
        </li>
      </ul>
      <div class="admin-btn" *ngIf="admin">
        <button (click)="openAdmin()" class="btn btn-primarry">Admin</button>
      </div>
      <div class="dark-mode-btn" *ngIf="!adminPage">
        <button (click)="darkMode()" class="mat-btn"><mat-icon>bedtime</mat-icon></button>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input #search class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
        <button (click)="onSearch(search)" class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
