nav {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

ul {
  justify-content: flex-end;
  display: flex;
  width: 100%;
}

.left-nav {
  display: flex;
  align-items: center;
}

form {
  margin-left: 50px;
}

.search {
  margin-right: 0px !important;
  border-right: 0px !important;
  box-shadow: none;
  border-radius: 0.25rem, 0, 0, 0.25rem;
}

.empty-btn {
  margin-right: 8px;
  margin-left: -2px;
  border: 1px solid #ced4da;
  border-radius: 0, 0.25rem, 0.25rem, 0;
  border-left: 0px;
  height: 38px;
  background-color: white;
}

.search:focus {
  border-color: #ced4da;
}

.dark-mode-btn {
  width: 30px;
  margin-top: 5px;
}

@media screen and (max-width: 576px) {
  form {
    margin-left: 10px;
    margin-right: 10px;
  }
  .search {
    width: 120px;
  }
}

@media screen and (max-width: 390px) {
  .navbar-brand {
    display: none;
  }
}
