<nav [class.darkNav]="darkNavbar">
  <div class="home">
    <button routerLink="" *ngIf="mobile" class="mat-btn">
      <mat-icon>home</mat-icon>
    </button>
    <a *ngIf="!mobile" class="brand" routerLink=""
      ><h1>
        <b>{{ name }}</b>
      </h1></a
    >
  </div>
  <div class="buttons">
    <ul>
      <li *ngIf="admin">
        <div class="admin-btn">
          <button
            (click)="openAdmin()"
            style="color: #0095f6"
            class="btn btn-primarry"
          >
            Admin
          </button>
        </div>
      </li>
      <li class="nav-item" *ngIf="!emptyCart">
        <a class="nav-link" routerLink="../cart"><b>Cart</b></a>
      </li>
      <li>
        <a (click)="showCategories = !showCategories" class="nav-link">
          <b> Categories </b>
        </a>
        <div class="categories" *ngIf="showCategories">
          <div *ngFor="let category of categories">
            <a
              (click)="showCategories = false"
              class="category"
              [routerLink]="['category', category.name]"
              >{{ category.name }}</a
            >
            <hr />
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="right">
    <button
      class="dark-mode-btn"
      *ngIf="!adminPage"
      (click)="darkMode()"
      class="mat-btn"
    >
      <mat-icon>bedtime</mat-icon>
    </button>
    <button
      *ngIf="mobile"
      (click)="showSearchBar = !showSearchBar"
      class="mat-btn"
    >
      <mat-icon>search</mat-icon>
    </button>
    <div
      (click)="showSearchBar = false"
      class="backdrop"
      *ngIf="showSearchBar"
    ></div>
    <div
      class="search-bar"
      [class.mobileSearchBar]="mobile"
      *ngIf="!mobile || showSearchBar"
    >
      <form
        [formGroup]="searchBar"
        (ngSubmit)="onSearch()"
        class="form-inline my-2 my-lg-0"
      >
        <input
          formControlName="search"
          class="form-control mr-sm-2 search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="empty-btn" type="button" (click)="emptySearchBar()">
          X
        </button>
        <button
          [disabled]="!searchBar.valid"
          class="btn btn-primary"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
