.btn {
  float: right;
}

.alert-box {
  position: fixed;
  top: 10vh;
  bottom: 20vh;
  height: fit-content;
  max-height: 80vh;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}

textarea {
  margin-top: 50px;
}
