:host {
  display: flex;
  flex-direction: row;
}

.content {
  position: relative;
  flex-direction: column;
  display: flex;
  left: 16vw;
  // place-content: center;
  align-items: center;
  float: right;
  width: 70vw;
  padding: 50px;
}
