:host {
  display: flex;
  flex-direction: row;
}

.content {
  position: relative;
  flex-direction: column;
  display: flex;
  left: 16vw;
  // place-content: center;
  align-items: center;
  float: right;
  width: 70vw;
  padding: 50px;
}

@media screen and (max-width: 1060px) {
  img {
    margin-left: 150px;
  }
}

@media screen and (max-width: 842px) {
  img {
    width: 90%;
    margin-left: 50px;
  }
}

@media screen and (max-width: 550px) {
  img {
    display: none;
  }
}
