:host {
  display: flex;
  flex-direction: row;
}

.content {
  position: relative;
  flex-direction: column;
  display: flex;
  left: 18vw;
  // place-content: center;
  align-items: center;
  float: right;
  width: 70vw;
  padding: 50px;
}

.mobile {
  top: 75px;
  left: 0;
  padding-bottom: 100px;
  width: 95vw;
  margin: auto;
}

@media screen and (max-width: 1060px) {
  img {
    margin-left: 150px;
  }
}

@media screen and (max-width: 842px) {
  img {
    width: 90%;
    margin-left: 50px;
  }
}

@media screen and (max-width: 550px) {
  img {
    display: none;
  }
}

@media (max-width: 353px) {
  .mobile {
    top: 150px;
  }
}
