<div class="container">
    <div class="top">
        <img [src]="product.img">
        <div class="buy-area">
            <h1>{{product.title}}</h1>
            <hr>
            <h1>Price:</h1>
            <h2><b>{{product.price}} $</b></h2>
            <hr>
            <label for="quantity">Quantity</label>
            <div class="quantity">
                <input type="number" value="1"  min="1" [max]="product.quantity" id="quantity" class="form-control">
            </div>
            <hr>
            <button class="btn btn-primary">Buy now!</button>
        </div>
    </div>
    <hr>
    <div class="description">
        <h1>{{product.description}}</h1>
    </div>
</div>
