<div class="container">
  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!isLoading">
    <div class="top">
      <app-carousel [images]="images" [productPage]="true"></app-carousel>
      <div class="buy-area">
        <h1>{{ product.title }}</h1>
        <hr />
        <h1>Price:</h1>
        <h2>
          <b>{{ product.price }} $</b>
        </h2>
        <hr />
        <label for="quantity">Quantity</label>
        <div class="quantity">
          <input
            #quantity
            type="number"
            value="1"
            min="1"
            [max]="product.quantity"
            id="quantity"
            class="form-control"
          />
        </div>
        <hr />
        <button (click)="addToCart()" class="btn btn-primary">Buy now!</button>
      </div>
    </div>
    <hr />
    <div class="description">
      <h1>{{ product.description }}</h1>
    </div>
  </div>
</div>
