<div class="container">
  <div *ngIf="showMessage">
    <app-message [message]="messageToShow" (close)="close()"></app-message>
  </div>
  <div *ngIf="deleteAlert">
    <app-delete-alert itemToDelete="message"></app-delete-alert>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
        <th scpe="col">Open</th>
        <th scpe="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let email of fbEmails; let i = index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <th scope="row" *ngIf="!email.seen"><mat-icon> email</mat-icon></th>
        <th scope="row" *ngIf="email.seen">
          <mat-icon>mail_outline</mat-icon>
        </th>
        <td>{{ email.firstName }}</td>
        <td>{{ email.lastName }}</td>
        <td>{{ email.email }}</td>
        <td>{{ email.message | shorten: 30 }}</td>
        <td>{{ email.date | date }}</td>
        <td>
          <button (click)="openEmail(i)" class="mat-btn">
            <mat-icon>launch</mat-icon>
          </button>
        </td>
        <td>
          <button class="mat-btn" (click)="onDelete(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
