.list-group {
    min-width: 400px;
    text-align: center;
}

.buttons {
    display: flex;
    place-content: center space-between;
}

.dropdown-toggle {
    margin-bottom: 30px;
}

.inputName {
    max-width: 50%;
    margin-right: 10px;
    margin-left: -10px;
}