<div *ngIf="loading"><h1>Loading...</h1></div>
<div *ngIf="!loading">
  <app-carousel
    *ngIf="productsInCarousel"
    [products]="carousel"
    [homepage]="true"
  ></app-carousel>
  <div class="container">
    <div class="products" *ngFor="let product of products">
      <h2><b>{{product.area.name}}</b></h2>
      <div class="row">
        <div class="col" *ngFor="let product of product.product">
          <app-get-products
          [img]="product.img"
          [description]="product.description"
          [price]="product.price"
          [homepagePosition]="product.homepagePosition"
          [category]="product.category"
          [key]="product.key"
          ></app-get-products>
        </div>
      </div>
    </div>
  </div>
</div>
