<app-carousel></app-carousel>
<div class="container">
  <div class="products" *ngFor="let area of homepageAreas">
    <h2><b>{{area.name}}</b></h2>
    <div class="row">
      <div class="col" *ngFor="let product of products">
        <app-get-products
          [img]="product.img"
          [description]="product.description"
          [price]="product.price"
          [homepagePosition]="product.homepagePosition"
          [url]="product.url"
        ></app-get-products>
      </div>
    </div>
  </div>
</div>
