table {
    width: 100%;
}

img {
    height: 108px;
    width: 192x;
}

.purchase {
    float: right;
    display: flex;
    margin-top: 50px;
}

.total {
    margin-right: 50px;
}

.btn-continue {
    padding: 18px;
}

.emptyText {
    text-align: center;
}