<div *ngIf="!showCart"><h1>Loading...</h1></div>
<div class="container emptyText" *ngIf="emptyCart"><h1>Empty...</h1></div>
<div class="container" *ngIf="showCart && !emptyCart">
  <div class="table">
    <table>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scpe="col">Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let product of cart; let i = index">
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <img
              class="product-img"
              [src]="product.product.img"
              [alt]="product.name"
            />
          </td>
          <td>
            <b>{{ product.product.title | shorten: 20 }}</b>
          </td>
          <td>
            <b>{{ product.product.price }}</b>
          </td>
          <td>
            <div class="product-quantity">
              <b>{{ product.quantity }} </b>
            </div>
            <div>
              <button (click)="increaseQuantity(i)" class="mat-btn">
                <mat-icon>add</mat-icon>
              </button>
              <button (click)="decreaseQuantity(i)" class="mat-btn">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </td>
          <td>
            <button class="mat-btn" (click)="onDelete(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <div class="purchase">
    <div class="total">
      <h1>Total</h1>
      <h3>{{ total }} $</h3>
    </div>
    <div class="btn-continue">
      <br />
      <button routerLink="../checkout" class="btn btn-success">Continue</button>
    </div>
  </div>
</div>
