table {
  width: 100%;
}

img {
  height: 108px;
  width: 192x;
}

.purchase {
  float: right;
  display: flex;
  margin-top: 50px;
}

.total {
  margin-right: 50px;
}

.btn-continue {
  padding: 18px;
}

.emptyText {
  text-align: center;
}

.product-quantity {
  padding-left: 30px;
}

.card-mobile {
  display: flex;
  h3,
  h4,
  p {
    color: black;
  }
}

.product-img-mobile {
  padding-top: 50px;
  padding-left: 10px;
}

.product-info {
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .product-quantity {
    padding-left: 10px;
  }
}
