.alert-box {
  position: fixed;
  top: 30vh;
  width: 20vw;
  padding: 16px;
  z-index: 100;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26);
}

.alert-box-actions {
  text-align: right;
}

.yes {
  float: left;
}
