ngb-carousel,
.homepage {
  width: 100%;
}

.homepage img {
    object-fit: cover;
    max-height: 500px!important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 24px;
  height: 40px;
  width: 37px;
  cursor: pointer;
}
