.side-bar-area {
  position: relative;
  width: fit-content;
}
.side-bar {
  position: fixed;
  margin-top: -55px;
  height: 110vh;
  width: 14vw;
  padding:100px 60px 50px 0px;
  background-color: rgb(30, 30, 30);
}

a {
    color: white !important;
}

hr {
    border-color: white;
}
