<div class="side-bar">
    <ul>
        <a routerLink="add-product">
            <li>
                Add a product
            </li>
        </a>
        <hr>
        <a routerLink="orders">
            <li>
                Orders
            </li>
        </a>
        <hr>
        <a routerLink="messages">
            <li>
                Messages
            </li>
        </a>
        <hr>
        <a routerLink="statistics">
            <li>
                Statistics
            </li>
        </a>    
        <hr>
        <a routerLink="products">
            <li>
                Products
            </li>
        </a>    
        <hr>
        <a routerLink="website-edit">
            <li>
                Website edit
            </li>
        </a>       
    </ul>
</div>
