<div class="side-bar">
    <ul>
        <a routerLink="add-product">
            <li>
                Add a product
            </li>
        </a>
        <hr>
        <a routerLink="homepage-edit">
            <li>
                Homepage edit
            </li>
        </a>
        <hr>
        <a routerLink="orders">
            <li>
                Orders
            </li>
        </a>
        <hr>
        <a routerLink="messages">
            <li>
                Messages
            </li>
        </a>
        <hr>
        <a routerLink="statistics">
            <li>
                Statistics
            </li>
        </a>        
    </ul>
</div>
