/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
p {
  font-family: Catamaran;
  font-weight: 800 !important;
  color: rgb(51, 51, 51);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: black;
}

html,
body {
  height: 100%;
}

.mat-btn {
  border: 0px;
  background-color: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert {
  display: flex;
  place-content: center;
  align-items: center;
}
