/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
p,
label {
  font-family: Catamaran;
  font-weight: 800 !important;
  color: rgb(51, 51, 51);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: black;
}

.btn {
  border-radius: 20px !important;
}

html,
body {
  height: 100%;
}

.mat-btn {
  border: 0px;
  background-color: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert {
  display: flex;
  place-content: center;
  align-items: center;
}

.container {
  padding-top: 50px;
}

.dark-mode {
  background-color: rgba(0, 4, 17, 0.9);
  // background-color: black;
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  label {
    color: white;
  }
}
.dark-mode table,
.card-mobile {
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 10px;
}

.dark-mode .card {
  background-color: rgba(255, 255, 255, 0.795);
  h3,
  p {
    color: black;
  }
}

.custom-input-file::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-input-file {
  border-radius: 10px;
  padding: 5px 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  background-color: #ff0000;
  color: white;
}

.products-grid {
  padding: 20px 100px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 10px;
}

@media (max-width: 1880px) {
  .products-grid {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 1696px) {
  .products-grid {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 1328px) {
  .products-grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 1084px) {
  .products-grid {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 850px) {
  .alert-box {
    max-height: 95vh !important;
    width: 98vw !important;
  }
}

@media (max-width: 828px) {
  .card {
    width: 10em;
  }
}

@media (max-width: 750px) {
  .products-grid {
    padding: 20px 50px;
  }
}

@media (max-width: 500px) {
  .products-grid {
    padding: 20px 10px;
  }
}
