/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
p,
label {
  font-family: Catamaran;
  font-weight: 800 !important;
  color: rgb(51, 51, 51);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: black;
}

html,
body {
  height: 100%;
}

.mat-btn {
  border: 0px;
  background-color: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert {
  display: flex;
  place-content: center;
  align-items: center;
}

.container {
  padding-top: 50px;
}

.dark-mode {
  background-color: rgba(0, 4, 17, 0.9);
  // background-color: black;
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  label {
  color: white;
  } 
}
.dark-mode table {
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 10px;
}

.dark-mode .card {
  background-color: rgba(255, 255, 255, 0.795);
  h3,
  p{
    color: black;
  }
}


